/* Park List */

.park-list {
    border-right: 2px solid #5F7A61 ;
  width: 200px;
  height: 90vh;
  overflow: scroll;
  background-color: snow;
}


.park-list h2 {
    font-size: 15px;
    color: #444941;
}

.park-list h2:hover {
    font-size: 15px;
    color: #7FC8A9
    ;
}