@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

body {
	height: 100%;
}

/* Header */

header {
	background-color: #444941;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

h1 {
	font-size: 2.5rem !important;
	/* margin: 25px 20px; */
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Roboto', sans-serif !important;
	font-weight: 900 !important;
	color: #d5eebb;
	margin-bottom: 0 !important;
	margin-left: 5px !important;
	z-index: 1 !important;
}

nav {
	grid-row: 1 / span 1;
	grid-column: 2 / span 1;
}

nav > ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	margin-block-start: 2em;
	margin-block-end: 0em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-top: 45px;
}

nav > ul > a {
	grid-row: 1;
	font-size: 100%;
	color: #d5eebb;
	font-size: 20px;
	margin: 0;
	list-style: none;
	text-decoration: none;
	text-align: center;
}

nav > ul > a:hover {
	background-color: #5f7a61;
	color: white;
}

.main-page {
	height: 100vh;
	background-image: url('./assets/Scene-24.jpg');
	background-size: cover;
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
}

/* Main Heading */
.main-heading {
	height: 100%;
	width: 100vw;
	position: absolute;
	z-index: 1;
	margin-top: 20%;
	color: #444941;
	font-size: 2rem;
}

.btn {
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	border: none;
	padding: 10px 20px;
	font-size: 2rem;
	background-color: #444941;
	color: white;
}

.btn:hover {
	background-color: #d5eebb;
	color: #444941;
}

/* User Forms */

.user-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin: 50px auto;
}

.form-message {
	grid-column: 1 / span 1;
}

label,
input {
	margin: 20px;
	width: 100%;
}

input {
	border: none;
	border-bottom: 1px solid rgb(192, 184, 184);
	font-family: 'Roboto', sans-serif;
	padding: 10px 50px 5px 5px;
	width: 100%;
}

.form-image {
	height: 90%;
	width: 90%;
	object-fit: contain;
}

.form-message {
	margin-top: 30%;
}
.avatar {
	height: 40%;
	width: 40%;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	/* width:50%; */
	/* margin-left: 50px; */
	/* background-color: #295f57; */
}

.main-message {
	font-family: 'Roboto', sans-serif;
	color: #353a39;
	font-size: 2rem;
	text-align: center;
	margin: 0 20px;
}

.form-body {
	margin: 20px;
	display: flex;
	width: 65%;
	flex-direction: column;
	justify-content: center;
	/* background-color: #353a39; */
}

.login-btn {
	font-size: 1rem;
	/* margin: 0 50%; */
	background-color: #5f9c64;
	/* margin: 20px; */
	width: 100%;
	/* justify-self: end; */
	margin-left: 20%;
}

.avatar,
.male {
	height: 20%;
}

/* Park Details */

.parks-layout {
	display: flex;
}

.container {
	position: relative;
	color: #444941;
}

.centered {
	/* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
	font-size: 20px;
	/* background-color: rgba(0, 0, 0, 0.5);
    background-size: auto; */
}

.park-details {
	text-align: center;
}

/* .park-image {
    object-fit: contain;
    height: 30vh;
    width: auto;
} */

.acts {
	display: flex;
	justify-content: center;
}

.act-main {
	text-align: center;
}

.activities {
	width: 200px;
	height: 30vh;
	overflow: scroll;
	background-color: snow;
	text-align: center;
}

@media (max-width: 800px) {
	.left {
		display: none;
	}
}
